.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 16px var(--padding-section);
    /* max-width: var(--maxWidth); */
    background-color: var(--red);
}

.header svg {
    font-size: 36px;
    color: var(--orange);
}

.nameApp {
    font-size: 36px;
    color: var(--orange);
    font-weight: bold;
    letter-spacing: 2px;
    font-family: 'Poppins';
}

.deposit {
    font-size: 12px;
    color: var(--orange);
    cursor: pointer;
}

.balance {
    font-family: 'Poppins';
    font-size: 24px;
    color: var(--beige);
}

.nameUser {
    text-transform: lowercase;
    font-size: 14px;
    font-family: 'Poppins';
    color: var(--orange);
}

@media screen and (max-width: 600px) {
    .nameApp {
        font-size: 24px;
    }

    .balance {
        font-size: 16px;
    }
}