.machine {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    overflow: hidden;
    /* padding: 36px; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8), 0 6px 20px rgba(0, 0, 0, 0.19);
    border: 10px solid var(--orange);
    border-radius: 32px;
}

.slot {
    width: 160px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 20px;
}

/* 141px cada imagem */
.slotContent {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}

.icon  {
    width: 115px;
    height: 150px;
    object-fit: cover;
}

@media screen and (max-width: 600px) {
    .machine {
        gap: 16px;
        border: 3px solid var(--orange);
    }
    .slot {
        width: 100px;
        height: 180px;
        top: -105px;
    
    }

    .icon  {
        width: 75px;
        height: 100%;
        object-fit: cover;
    }
}