.overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
}

.closeModal {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 26px;
    color: var(--orange);
}

.container {
    position: relative;

    background-color: var(--beige);

    max-width: 300px;
    width: 100%;

    border-radius: 10px;
    padding: 20px;

    
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4px;

    margin-bottom: 60px;
}

.title {
    font-size: 24px;
    color: var(--orange);
    font-family: 'Poppins';
    text-align: center;
    margin-top: 22px;
}

.value {
    font-size: 48px;
    color: var(--green);
    font-family: 'Poppins';
    text-align: center;
    font-weight: 700;
}

.imageWin {
    width: 100%;
    position: relative;
}

.imageWin img {
    width: 100%;
    height: auto;
}